:root {
  --gallery: #f0f0f0;
  --mercury: #e6e6e6;
  --alto1: #dadada;
  --alto2: #d9d9d9;
  --silver1: #cdcdcd;
  --silver2: #c0c0c0;
  --gray: #848484;
  --boulder: #777777;
  --scorpion: #5e5e5e;
  --blue-ribbon: #006cff;
  --emperor: #515151;
  --mine-shaft: #373737;
  --cod-gray: #111111;

  --border-radius: 2px;

  --icon-size: 0.8rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  font-family: Lato, Arial;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a,
a:visited,
a:active {
  color: var(--gray);
}
