:root {
  --light-grey: rgb(230, 230, 230);
  --grey: rgb(132, 132, 132);
  --dark-grey: rgb(94, 94, 94);
  --black: rgb(55, 55, 55);
  --blue: rgb(0, 108, 255);

  --border-radius: 2px;

  --icon-size: 0.8rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  font-family: Lato, Arial;
}

a,
a:visited,
a:active {
  color: var(--grey);
}
